a{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
a:hover{
    color: blue;
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
}
.nav-link:hover{
    color: red;
}